
body{
  margin:0;
  background-color:#23252C;
  font-family: 'Inter', sans-serif;
  color:white;
}

.main-photo {
  width:317px;
  height:317px;
}

.container{
  display:flex;
  justify-content:center;
  margin-top:44px;
}

.card {
  width:317px;
  height:780px;
  background-color:#1A1B21;
  border-radius:10px 10px 10px 10px;
}

.main-photo {
  width:317px;
  height:317px;
  background-image: url(../public/bigMalc.jpg);
  background-size:cover;
  border-radius:10px 10px 0px 0px;
}

.header-text{
  display:flex;
  flex-direction:column;
  text-align:center;
}

.header-text > h1 {
  font-size:25px;
  margin-top:21px;
  margin-bottom:5px;
  font-weight:700;
}

.title-text {
  font-size:12.8px;
  color:#F3BF99;
  font-weight:400;
}

.website-text {
  margin-top:11px;
  font-size:10.24px;
}

.header-bottom {
  padding-top:20px;
  display:flex;
  justify-content:center;
}

.header-bottom > button {
  width: 115px;
  height:34px;
  border-radius:6px;
}


.email-btn{
  background-color:white;
  color: #374151;
}

.email-btn, .linkedin-btn{
  font-size:14px;
  font-weight:500;
}

.linkedin-btn{
  margin-left:17px;
  background-color:#5093E2;
  color:white;
}


